<div id="message-<%= message.id %>">
  <small>
    <%= cl_image_tag message.user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <strong><%= message.user.name %></strong>
    <i><%= message.created_at.strftime("%l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
