<div class="map-card" 
  id="map-checkpoint" 
  data-controller="map"
  data-map-api-key-value=" <%= ENV['MAPBOX_API_KEY']%> "
  data-map-icon-value="<%= trail_type(@trail.mode) %>"
  data-map-trail-id-value="<%= @trail.id %>"
  data-map-array-value="<%= @array.present? ? @array : [] %>">
  <div 
  id="map"
  data-map-target="map">
  </div>
  <div >
    <%= button_tag "Start", data: {action: "click->map#start"} %>
    <%= button_tag "Stop", data: {action: "click->map#stop"} %>
  </div>

</div>
