<div class="navbar navbar-expand-sm navbar-light navbar-xtreme">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "Xtreme Adventures (8).png" %>
    <% end %>

    <div class="navbar-avatar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <% if user_signed_in? %>
        <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end px-3" aria-labelledby="navbarDropdown">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <%= link_to new_trail_path, class: "nav-link" do %>
                  <i class="fas fa-plus-circle icon-color"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to my_events_path, class: "nav-link" do %>
                  <i class="fas fa-users icon-color"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to my_trails_path, class: "nav-link" do %>
                  <i class="fas fa-map icon-color"></i>
                <% end %>
              </li>
              <li class="nav-item">
                <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
                  <i class="fas fa-sign-out-alt icon-color"></i>
                <% end %>
              </li>
            </ul>
          </div>
      <% else %>
        <%= link_to new_user_session_path do %>
          <button class="cta">
            <span class="hover-underline-animation"> Login</span>
            <svg id="arrow-horizontal" xmlns="http://www.w3.org/2000/svg" width="30" height="10" viewBox="0 0 46 16">
              <path id="Path_10" data-name="Path 10" d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z" transform="translate(30)"></path>
            </svg>
          </button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
