<div class="row d-flex align-items-center justify-content-center">
  <div class="col-md-6">
    <div class="card mt-5">
      <div class="container event"
        data-controller="event-subscription"
        data-event-subscription-event-id-value="<%= @event.id %>">

          <% if @event.users.first == current_user %>
            <%= link_to "Edit", edit_event_path(@event), class: "btn btn-login-edit" %>
          <% end %>
        <h1 class="event-message"><%= @event.name %></h1>
        <div class="messages" data-event-subscription-target="messages">
          <% @event.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
        </div>
          <%= simple_form_for [@event, @message], remote: true, html: {data: {action: "ajax:success->event-subscription#resetForm"}, class: "d-flex" } do |f|%>
            <%= f.input :content, label: false, placeholder: "Type your message...", wrapper_html: {class: "flex-grow-1"}%>
          <i class="fas fa-paper-plane"><%= f.submit "Send", class: "btn btn-success send" %></i>
          <% end %>
      </div>
    </div>
  </div>
</div>
