<div class='container'>
  <% @trails.each do |t| %>
    <%= link_to trail_path(t), style: "text-decoration: none;" do %>
      <div class="card-category" style="background-image: url(<%= cl_image_path t.photo.key %>)">
        <div class="card-trip-infos">
          <h2><strong><%= t.name %></strong></h2>
          <p><%= t.distance %> Km</p>
          <p><%= t.mode %></p>
        </div>
      </div>

      <div class="card-btn">
        <% if policy(t).edit? %>
          <%= link_to "Edit this trail", edit_trail_path(t), class: 'btn-card' %>
        <% end %>
        <%= link_to "Trail's events", trail_events_path(t), class: 'btn-card' %>
      </div>
    <% end %>
  <% end %>
</div>
