<div class='container'><h2>Trails</h2>
  <%= link_to "Create a trail", new_trail_path, class: 'btn btn-outline-success' %>
  <% @trails.each do |t| %>
    <li style='list-style: none;'><%= t.name %></li>
    <li style='list-style: none;'><%= t.distance %></li>
    <li style='list-style: none;'>  <%= t.mode %></li>
    <%= link_to "Show me more", trail_path(t), class: 'btn btn-outline-success' %>
    <% if policy(t).edit? %>
      <%= link_to "Edit this trail", edit_trail_path(t), class: 'btn btn-outline-success' %>
    <% end %>
    <%= link_to "See events to this trail", trail_events_path(t), class: 'btn btn-outline-success' %>
  <% end %>
  <div class="bottom-navbar" >
    <i class="fa-light fa-map-location-dot"></i>
    <a href="#" class="icon-navbar">
      <i class="fa-light fa-map-location-dot"></i>
    </a>
    <a href="">
      <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    </a>
    <a href="#">
      <i class="fa-light fa-comment-lines"></i>
    </a>
  </div>
</div>
