<div class='container'><h2>Trails</h2>
  <%= link_to "Create a trail", new_trail_path, class: 'btn btn-outline-success' %>
  <% @trails.each do |t| %>
    <li style='list-style: none;'><%= t.name %></li>
    <li style='list-style: none;'><%= t.distance %></li>
    <li style='list-style: none;'>  <%= t.mode %></li>
    <%= link_to "Show me more", trail_path(t), class: 'btn btn-outline-success' %>
    <% if policy(t).edit? %>
      <%= link_to "Edit this trail", edit_trail_path(t), class: 'btn btn-outline-success' %>
    <% end %>
    <%= link_to "See events to this trail", trail_events_path(t), class: 'btn btn-outline-success' %>
  <% end %>
</div>
<div class="bottom-navbar" >
  <a href="#" >
    <%# <img src="https://img.icons8.com/material-outlined/96/undefined/map-marker.png" class="icon-navbar"> %>
  </a>
  <div>
    <a href="">
    <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face, class: "avatar-bottom dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% else %>
        <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-bottom dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
    <% end %>
    </a>
  </div>
  <a href="#">
    <%# <img src="https://cdn-icons-png.flaticon.com/512/61/61498.png" alt="" class="icon-navbar"> %>
  </a>
</div>
