<div class="container">
  <h2><strong>Create a trail:</strong></h2>

  <%= simple_form_for @trail do |f| %>
    <%= f.input :name %>
    <%= f.input :distance %>
    <%= f.input :mode, :collection => %w[hiking bike horse quad]%>

    <%= f.button :submit, class: "btn btn-success" %>

  <button class="c-button c-button--gooey"> Create a Trail
  <div class="c-button__blobs">
  <div></div>
  <div></div>
  <div></div>
  </div>
</button>
<svg style="display: block; height: 0; width: 0;" version="1.1" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <filter id="goo">
      <feGaussianBlur result="blur" stdDeviation="10" in="SourceGraphic"></feGaussianBlur>
      <feColorMatrix result="goo" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" mode="matrix" in="blur"></feColorMatrix>
      <feBlend in2="goo" in="SourceGraphic"></feBlend>
    </filter>
  </defs>
</svg>

<% end %>
</div>
