<div class="row d-flex align-items-center justify-content-center">
  <div class="col-md-6">
    <div class="card mt-5">
      <li style='list-style: none;'><h1><%= @trail.name %></h1></li>
      <% trail_class = trail_type(@trail.mode) %>
      <div class="indo-icon">
      <li style='list-style: none;'><h4><i class="<%= trail_class %>"></i></h4></li>
          <li style='list-style: none;'><h4><%= @trail.distance %>km</h4></li>
        </div>
        <div class="card-btn">
          <%= link_to "Trail's events", trail_events_path(@trail), class: 'btn-card' %>
          <%= link_to 'Create an Event', new_trail_event_path(@trail), class: 'btn-card' %>
        </div>
          <div class="map-card"
            id="map-checkpoint"
            data-controller="map"
            data-map-api-key-value=" <%= ENV['MAPBOX_API_KEY']%> "
            data-map-icon-value="<%= trail_type(@trail.mode) %>"
            data-map-trail-id-value="<%= @trail.id %>"
            data-map-array-value="<%= @array.present? ? @array : [] %>">
            <div
            id="map"
            data-map-target="map">
            </div>
          </div>

        <% if policy(@trail).edit? %>
          <%= link_to "Edit this trail", edit_trail_path(@trail), class: 'btn btn-login-return', id: "btn-edit-show" %>
        <% end %>
    </div>
  </div>
</div>
