<%= @trail.name %>
<%= @trail.distance %>
<%= @trail.mode %>
<%= link_to 'Create an Event', new_trail_event_path(@trail), class: 'btn btn-outline-success' %>
<div id="map" data-array="<%# ARRAY DE ARAYS QUE VEM DO CONTROLLER %>"></div>
<div data-controller="checkpoint" data-checkpoint-trail-id-value="<%= @trail.id %>">
  <button data-action="click->checkpoint#start">Start</button>
  <button data-action="click->checkpoint#stop">Stop</button>
</div>
