<div class="content" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path("bc.jpg") %>);">
  <div class="container-login" >
    <img src="https://see.fontimg.com/api/renderfont4/9Y350/eyJyIjoiZnMiLCJoIjo2MSwidyI6MTAwMCwiZnMiOjYxLCJmZ2MiOiIjRkZGRkZGIiwiYmdjIjoiIzFCMUIxQiIsInQiOjF9/bG9naW4/grooved-personal-use-regular.png" alt="Cool fonts" class="title-login mb-4"></a>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <div class="container">
              <%= f.input :email, class: "email-input",
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password, class: "password-input",
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>

          <div class="btn-container justify-content-center d-flex mt-3">
            <div class="form-actions">
              <%= f.button :submit, "Submit", class: "btn-login" %>
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
  </div>
</div>
